body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url('chatBG.jpg');
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a ,.sidenav img{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav,#page-wrap {
    transition: margin-left .5s;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

html{
    background-image: url('chatBG.jpg');
}

#navbar{
    z-index:3;
}

.sticky{
    position: fixed;
    width: 100%;
}
  
.sticky + #page-content{
    padding-top: 60px;
}

#left-top-block{
    position: absolute;
    left:10%;
    width:80%;
    height:30%;
    background-color:#295ea4;
    opacity: 0.8;
    border-radius: 25px;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
}

#join-group-block{
    position: relative;
    width:95%;
    font-size: 2.5vmin;
    left:3%;
    color:white;
}

#create-group-block{
    position: relative;
    width:95%;
    font-size: 2.5vmin;
    left:3%;
    color:white;
}

#left-bottom-block{
    position: absolute;
    left:10%;
    top:35%;
    width:80%;
    height:65%;
    background-color:#295ea4;
    opacity: 0.8;
    border-radius: 25px;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
    color:white;
}

#CardImg{
    position: absolute;
    width:60%; 
    height:55%;
    top:2%;
    left:20%;
}

#ProfileCard-name{
    position: absolute;
    top:57%;
    width:100%;
    text-align: center;
    font-size: 3.3vmin;
}

#Card-content{
    position: absolute;
    font-size: 2.2vmin;
    left:5%;
    top:64%;
}

#middle-block{
    position: relative;
    height:100%;
    opacity: 0.8;
}

.member{
    position: relative;
    width:100%;
    height:100%;
    border:0;
    border-radius: 25px;
    background-color: rgb(72, 172, 230);
    color:white;
}

.groupbtn{
    position: relative;
    width:100%;
    height:100%;
    border:0;
    border-radius: 25px;
    background-color: rgb(72, 172, 230);
    color:white;
}

#group-list{
    position: absolute;
    right:7%;
    width: 100%;
    height:50%;
    background-color:#295ea4;
    border-radius: 25px;
    overflow-y: scroll;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
}

#member-list{
    position: absolute;
    top:52%;
    right:7%;
    width: 100%;
    height:48%;
    background-color:#295ea4;
    border-radius: 25px;
    overflow-y: scroll;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
}

#message-block{
    position: relative;
    height:100%;
}

#message-area{
    overflow-y: scroll;
    overflow-x: scroll; 
}

#right-top-block{
    position: relative;
    height:10%;
    background-color:#295ea4;
    opacity: 0.8;
    color:white;
    text-align: center;
    font-size: 4vmin;
    border-radius: 25px;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
}

#right-bottom-block{
    position: relative;
    height:20%;
    background-color:#295ea4;
    opacity: 0.8;
    border-radius: 25px;
    box-shadow:3px 3px 3px rgba(20%,20%,40%,0.5);
}

@media screen and (min-width: 766px) {
    #groupbtndiv{
        height:12.5%;
    }
    #group-list{
        right:7%;
    }
    #member-list{
        right:7%;
    }
    #message-block{
        right:1%;
    }
}

@media screen and (max-width: 765px) {
    #groupbtndiv{
        height:30%;
    }
    #group-list{
        left:7%;
        width:90%;
        top:5%;
    }
    #member-list{
        left:7%;
        width:90%;
        top:60%;
    }
    #message-block{
        left:7%;
        top:12%;
        width:90%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }