body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a ,.sidenav img{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#navbar,#page-wrap {
    transition: margin-left .5s;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#navbar{
    z-index:3;
}

/*#img-header{
    position: relative;
    font-size: 25px;
}

#profile-img{
    position: absolute;
    left: 47%;
    bottom: 30%;
    border-radius: 50%;
    border: 3px black solid;
}

#img-header .blur {
    width: 100%;
    height: 100px;    
    filter: blur(8px);    
}

#img-header .username{
    position: absolute;
    left: 47.8%;
    bottom: 10%;
    color: white;
}*/

#myCarousel{
    position: absolute;
    width:100%;
    height:100%;
}

.sticky{
    position: fixed;
    width: 100%;
}
  
.sticky + #page-content{
    padding-top: 60px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}