body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a ,.sidenav img{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav,#page-wrap {
    transition: margin-left .5s;
    font-size: 20px;
}

#navbar{
    z-index:3;
}

#ProfileCard{
    float: left;
    position: relative; 
    margin: 0px;
    font-size: 2vmin;
    padding: 2% 5% 5% 8%;
}

#ProfileCard-name{
    text-align: center;
    font-size: 3vmin;
}

#information{
    float: left;
    padding: 20px;
    font-size: 2.5vmin;
}

.information-item{
    padding: 20px;
}

.sticky{
    position: fixed;
    width: 100%;
}
  
.sticky + #page-content{
    padding-top: 60px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/*###############################################################################*/

